.box {
    position: relative;
    padding: 0 rem(72);

    @include breakpoint(xs) {
        padding: 0 rem(20);
    }
}

.box-content {
    position: relative;
    margin-top: rem(54);

    @media screen and(min-width: $screen-xs-max) {
        text-align: justify;
    }

    .left-side-content {
        padding-#{$right}: rem(100);

        @include breakpoint(xs) {
            padding-#{$right}: 0;
        }
    }

    .title {
        font-weight: 600;
        font-size: rem(18);
        text-transform: uppercase;
        padding-bottom: rem(16);
    }

    .summary-container {
        position: relative;
        padding-bottom: rem(60);

        .content {
            font-size: rem(16);

            p {
                line-height: rem(24);

                &:not(:last-of-type) {
                    padding-bottom: rem(10);
                }
            }
        }
    }

    .history-container {
        position: relative;
        padding-bottom: rem(28);

        .title {
            padding-bottom: rem(24);
        }

        .history {
            position: relative;
            @include clearfix();

            .history-title {
                display: inline-block;
                max-width: 80%;
                font-family: $mainFont_SemiBold;
                font-size: rem(18);
                padding-bottom: rem(2);
            }

            .history-date {
                float: $right;
            }

            .history-position {
                padding-top: rem(2);
                font-size: rem(14);
            }

            .history-description {
                padding: rem(16) 0;
                padding-bottom: rem(32);

                p {
                    font-size: rem(16);
                    line-height: rem(24);
                }
            }
        }
    }

    .portfolio-container {

        .portfoilo-description {
            padding-bottom: rem(40);
        }

        .portfolio-demos-container {
            position: relative;
            padding-bottom: rem(24);

            .project-demo {
                position: relative;
                padding: 0 rem(16);
                padding-bottom: rem(24);

                @include breakpoint(xs) {
                    padding: 0;
                    padding-bottom: rem(32);
                }


                a {
                    color: $main-font-color;
                    display: block;

                    &:hover {
                        color: $theme-color;

                        img {
                            @include opacity(0.7);
                        }
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    min-height: rem(180);
                    max-height: rem(180);
                    height: auto;
                    padding: rem(4);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: rem(4);
                    object-fit: cover;
                    @include prefixer(transition, opacity 0.5s, webkit moz);
                }
            }

            .project-title {
                padding-top: rem(8);
            }

        }

    }

    .sticky-aside {
        @media screen and (min-width: 1000px) {
            position: sticky;
            top: rem(50);
        }
    }

    .right-side-content {
        position: relative;

        .contact-info {
            position: relative;
            padding-bottom: rem(24);

            .contact-info-icon {
                display: inline-block;
                width: rem(18);
                height: auto;
            }

            a {
                color: $main-font-color;
                display: block;

                &:hover {
                    color: $theme-color;
                }
            }

            .contact-info-content {
                display: inline-block;
                vertical-align: top;
                padding-#{$left}: rem(8);
                max-width: 90%;
            }

        }
    }
}