@include keyframes-prefixer(dynamic-theme-color) {
    0% {
        background-color: $theme-color;
    }

    10% {
        background-color: #2ecc71;
    }

    20% {
        background-color: #8e44ad;
    }

    30% {
        background-color: #e67e22;
    }

    40% {
        background-color: #e74c3c;
    }

    50% {
        background-color: #3498db;
    }

    60% {
        background-color: #f7b731;
    }

    70% {
        background-color: #474787;
    }

    80% {
        background-color: #ff793f;
    }

    90% {
        background-color: #54a0ff;
    }

    100% {
        background-color: $theme-color;
    }
}

@include keyframes-prefixer(dynamic-theme-font-color) {
    0% {
        color: $theme-color;
    }

    10% {
        color: #2ecc71;
    }

    20% {
        color: #8e44ad;
    }

    30% {
        color: #e67e22;
    }

    40% {
        color: #e74c3c;
    }

    50% {
        color: #3498db;
    }

    60% {
        color: #f7b731;
    }

    70% {
        color: #474787;
    }

    80% {
        color: #ff793f;
    }

    90% {
        color: #54a0ff;
    }

    100% {
        color: $theme-color;
    }
}